<template>
  <div>
    <div class="row px-5 pt-3">
        <div class="col-md-12 p-3 mb-3">
            <h4 class="text-center">Bookable Date Listing</h4>
            <hr/>

            <div class="row">
                <div class="col-md-6">
                    <div class="row border rounded p-2 m-2">
                        <div class="col-md-4 float-left">
                            <select class="form-control" v-model="selectedYear">
                                <option v-for="year in years" :key="year.id" :value="year.value">{{year.value}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 float-right">
                            <select class="form-control" v-model="selectedMonth">
                                <option v-for="month in months" :key="month.id" :value="month.name">{{month.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 float-right">
                            <button class="btn btn-sm btn-info float-right" @click="filter_bookable_dates()">Filter</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <router-link to="/new-reservation" class="btn btn-info float-right"><b>+</b> Book New Schedule</router-link>
                </div>
            </div>
            <div v-if="bookables==null">
                <h6 class="text-center m-3 p-3 border rounded">Sorry! You didn't book any schedule yet. Book first</h6>
            </div>

            <div v-else>
                <table class="table" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Total Vacancy</th>
                            <th scope="col">Total Booked</th>
                            <th scope="col">Vacancy Price</th>
                            <th scope="col">Is Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="date in bookables" :key="date.id">
                            <td>{{date.id}}</td>
                            <td>{{date.date}}</td>
                            <td>{{ date.total_vacancy}}</td>
                            <td>{{ date.total_booked}}</td>
                            <td>${{ date.vacancy_price}}</td>
                            <td>
                                <button v-if="date.is_active == true" class="btn btn-success btn-sm">Active</button>
                                <button v-else class="btn btn-sm btn-dark">Disabled</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
    name: "Bookables",
    components: { 
    },
  data() {
    return {
        bookables: null,
        months: [
            {id:1, name: 'January'},
            {id:2, name: 'February'},
            {id:3, name: 'March'},
            {id:4, name: 'April'},
            {id:5, name: 'May'},
            {id:6, name: 'June'},
            {id:7, name: 'July'},
            {id:8, name: 'August'},
            {id:9, name: 'September'},
            {id:10, name: 'October'},
            {id:11, name: 'November'},
            {id:12, name: 'December'},
        ],
        years: [],
        selectedYear: new Date().getFullYear(),
        selectedMonth: 0
    };
  },
    mounted() {
        this.initialize_form_fields();
        this.show_loader();
        axios.get("/api/get-bookables").then((response) => {
            this.hide_loader();
            if(response.data.result == 'success'){
                this.bookables = response.data.bookable_dates;
            }else{
                this.show_toast('error', response.data.message);
            }
        });
    },
    methods: {
        initialize_form_fields(){
            let currentMonth = new Date().getMonth();
            this.selectedMonth = this.months[currentMonth].name;
            let currentYear = new Date().getFullYear();
            for(; currentYear < 2030; currentYear++){
                this.years.push({id: currentYear, value: currentYear});
            }
        },
        filter_bookable_dates(){
            this.show_loader();
            let monthNo = 1;
            for(let i=0; i< 12; i++){
                if(this.months[i].name == this.selectedMonth){
                    monthNo = i+1;
                    break;
                }
            }
            axios.post("/api/get-filtered-bookables", {year: this.selectedYear, month: monthNo}).then((response) => {
                this.hide_loader();
                if(response.data.result == 'success'){
                    this.bookables = response.data.bookable_dates;
                }else{
                    this.show_toast('error', response.data.message);
                }
            });
        }
    },
};
</script>

<style scoped>
.right-border{
    border-right: solid 1px #ccc;
}
</style>