<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <h1>This is footer component</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  components: {},
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
