<template>
  <div>
    <div class="row" style="bg-color: #eee">
      <div class="col-md-12 text-center p-3">
        <h1>Booking System</h1>
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  components: {},
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
