<template>
  <div class="bs-loader-container">
    <div class="bs-loader"></div>
  </div>
</template>

<script>
export default {
  name: "Loader",
};
</script>

<style scoped>
    .bs-loader-container {
        left: 50%;
        display: flex;
        justify-content: center;
        border: 1px #d4d4d4;
        border-radius: 5px;
        top: 50%;
        position: fixed;
    }
    .bs-loader {
        border: 5px solid #d4d4d4;
        border-top: 5px solid #132738;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        margin: 5px;
        visibility: hidden;
    }
</style>