<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <router-link to="/" class="navbar-brand"
        ><b>Booking System</b></router-link
      >
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        id="navbarCollapse"
        class="collapse navbar-collapse justify-content-start"
      >
        <div class="navbar-nav">
          <router-link to="/bookable-dates" class="nav-item nav-link active">Bookable Dates</router-link>
          <router-link to="/my-reservations" class="nav-item nav-link">My Schedules</router-link>
        </div>
        <div class="navbar-nav ml-auto action-buttons">
          <div class="nav-item dropdown">
            <a
              href="#"
              data-toggle="dropdown"
              class="nav-link dropdown-toggle mr-4"
              >Logout</a
            >
            <div class="dropdown-menu action-form">
              <div class="col-12 p-3">
                <p class="hint-text"><a href="javascript:void(0)" @click="logout">Logout</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import axios from "axios";

export default {
    name: "Navigation",
    components: {},
    data() {
        return {};
    },
    mounted() {},
    methods: {
        logout(){
            if(confirm('Are you sure you want to logout?')){
                axios.get("/api/logout").then((response) => {
                    localStorage.removeItem("BS.logged_in_user");
                    this.$router.push('/login');
                });
            }
        }
    },
};
</script>
