<template>
  <div>
    <div class="row px-5 pt-3">
        <div class="col-md-12 p-3 mb-3">
            <div class="row">
                <div class="col-md-6">
                    <h4>My Schedules</h4>
                </div>
                <div class="col-md-6">
                    <router-link to="/new-reservation" class="btn btn-info float-right"><b>+</b> Book New Schedule</router-link>
                </div>
            </div>
            <hr/>
            <div v-if="my_schedules==null">
                <h6 class="text-center m-3 p-3 border rounded">Sorry! You didn't book any schedule yet. Book first</h6>
            </div>

            <div v-else>
                <table class="table" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Total Cost</th>
                            <th scope="col">Total Vacancy Booked</th>
                            <th scope="col">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="schedule in my_schedules" :key="schedule.id">
                            <td>{{schedule.id}}</td>
                            <td>{{schedule.start_date}}</td>
                            <td>{{ schedule.end_date}}</td>
                            <td>${{ schedule.total_cost}}</td>
                            <td>{{ schedule.total_vacancy_booked}}</td>
                            <td>{{ schedule.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ReservationList",
  components: {},
  data() {
    return {
        my_schedules: null
    };
  },
  mounted() {
      this.show_loader();
    axios.get("/api/my-reservations").then((response) => {
        this.hide_loader();
        if(response.data.result == 'success'){
            this.my_schedules = response.data.reservations;
        }else{
            this.show_toast('error', response.data.message);
        }
    });
  },
  methods: {},
};
</script>

<style scoped>
.right-border{
    border-right: solid 1px #ccc;
}
</style>