<template>
  <div>
    <h4 class="text-center m-3">Book a new schedule</h4>
            <hr/>
    <div class="row p-3">
        <div class="col-md-6 p-3 mb-3">
            <!-- <h4 class="text-center m-3">Book a new schedule</h4>
            <hr/> -->

            <div class="p-4">
                <FunctionalCalendar
                    v-model="calendarData"
                    v-on:dayClicked="date_selected"
                    v-on:changedMonth="fetch_disabled_dates_by_month"
                    :is-date-range="true"
                    :configs="calendarConfigs">
                </FunctionalCalendar>
            </div>
        </div>

        <div class="col-md-5 border rounded px-4 pt-4 mb-3">
            <h4 class="text-center">Booking Summary</h4>
            <hr/>
            <div class="row p-2 mx-1 mb-2 border rounded"><b>Start Date: &nbsp;</b>{{start_date ? start_date : ''}}</div>
            <div class="row p-2 mx-1 mb-2 border rounded"><b>End Date: &nbsp;</b>{{end_date ? end_date : ''}}</div>
            <div class="row p-2 mx-1 mb-2 border rounded"><b>Total Bookable Vacancy: &nbsp;</b>{{total_bookable_vacancies}}</div>
            <div class="row p-2 mx-1 mb-2 border rounded"><b>Total Cost: &nbsp;</b>${{total_cost}}</div>
            
            <button class="btn btn-primary float-right mt-3" @click="save_reservation">Submit</button>
        </div>
    </div>
  </div>
</template>

<script>
import { FunctionalCalendar } from "vue-functional-calendar";
import axios from "axios";

export default {
  name: "ReservationForm",
  components: {
    FunctionalCalendar,
  },
  data() {
    return {
      calendarData: {},
      calendarConfigs: {
        sundayStart: false,
        dateFormat: "dd/mm/yyyy",
        isDatePicker: true,
        isDateRange: true,
        disabledDates: []
      },
      start_date: '',
      end_date: '',
      total_cost: 0,
      total_bookable_vacancies: 0,
      current_month: 1
    };
  },
  mounted() {
      this.fetch_disabled_dates_by_month();
  },
  methods: {
    date_selected() {
        if(this.calendarData.dateRange.start){
            this.start_date = this.calendarData.dateRange.start;
            this.end_date = this.start_date; //default
        }
        if(this.calendarData.dateRange.end){
            this.end_date = this.calendarData.dateRange.end;
        }
        axios.defaults.headers.common['Content-Type'] = 'application/json';
        axios.post("/api/get-cost-n-vacancies", {
            start_date: this.start_date,
            end_date: this.end_date
        })
        .then((response) => {
            this.hide_loader();
            if(response.data.result == 'success'){
                this.total_cost = response.data.total_cost;
                this.total_bookable_vacancies = response.data.total_bookable_vacancies;
            }else{
                this.show_toast('error', response.data.message);
            }
        });
    },

    fetch_disabled_dates_by_month(){
        axios.defaults.headers.common['Content-Type'] = 'application/json';
        axios.post("/api/get-disabled-dates", {
            month: this.current_month,
        })
        .then((response) => {
            console.log(response);
            if(response.data.result == 'success'){
                this.calendarConfigs.disabledDates = response.data.disabledDates;
                // this.calendarConfigs.disabledDates = ['19/1/2022','20/1/2022'];
                this.calendarData.disabledDates = ['19/1/2022','20/1/2022'];
            }else{
                this.show_toast('error', response.data.message);
            }
        });
    },

    save_reservation(){
        this.show_loader();

        axios.defaults.headers.common['Content-Type'] = 'application/json';
        axios.post("/api/new-reservation", {
            start_date: this.calendarData.dateRange.start,
            end_date: this.calendarData.dateRange.end,
            total_cost: this.total_cost,
            total_vacancy_booked: this.total_bookable_vacancies
        })
        .then((response) => {
            this.hide_loader();
            if(response.data.result == 'success'){
                this.show_toast('success', response.data.message);
                this.$router.push('/my-reservations');
            }else{
                this.show_toast('error', response.data.message);
            }
        });
    }
  },
};
</script>

<style scoped>
.right-border{
    border-right: solid 1px #ccc;
}
</style>