<template>
  <div class="toast-container">
    <div class="toast bs-toast" data-delay="2000">
      <div class="toast-body"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Toast",
};
</script>

<style scoped>
    .toast-container{
        width:100%;
        display: flex;
        justify-content: center;
        margin-top: -1px;
    }
    .bs-toast{
        position: fixed;
        font-weight: bold;
        font-size: 12pt;
        z-index: 1;
    }
    .toast-success{
        background: #68bb5d;
        color: #ffffff;
    }
    .toast-error{
        background: #ff7575;
        color: #ffffff;
    }
    .toast-info{
        background: #132738;
        color: #ffffff;
    }
</style>