<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import Vue from "vue";
import CommonMethods from "./mixins/CommonMethods";
import { FunctionalCalendar } from "vue-functional-calendar";

Vue.use(FunctionalCalendar, {
  dayNames: ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
});

Vue.mixin(CommonMethods);

export default {
  name: "App",
  methods: {},
};
</script>