<template>
  <div>
    <Navigation />
    <Loader />
    <Toast />
    <Bookables />
  </div>
</template>

<script>
import Loader from "../components/Loader";
import Toast from "../components/Toast";
import Navigation from "../components/Navigation";
import Bookables from "../components/Bookables";

import axios from "axios";

export default {
  name: "BookableDates",
  components: {
    Loader,
    Toast,
    Navigation,
    Bookables,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
