<template>
    <div>
        <Header />
        <Toast />

        <div class="row px-5">
            <div class="col-md-6 col-sm-12 p-2 right-border text-center">
                <img src="/uploads/bookingsystem.jpg" />
            </div>
            <div class="col-md-6 text-center">
                <p>
                    <b>A simple booking system developed for testing purpose. Following technologies are used in
                     this system</b>
                </p>
                <hr/>
                <ul class="list-group">
                    <li class="list-group-item">PHP based framework - Symfony 6.+</li>
                    <li class="list-group-item">MySql - as the database server</li>
                    <li class="list-group-item">VueJS - Front end javascript framework</li>
                    <li class="list-group-item">NGINX - for the web server</li>
                    <li class="list-group-item">Docker containers - for NGINX, PHP8.+, MySQL8 and PhpMyAdmin</li>
                </ul>

                <div class="row mt-3">
                    <p>
                        <router-link to="/login" class="btn btn-info m-3">Login</router-link> To check the system or 
                        <router-link to="/sign-up" class="btn btn-info m-3">Create Account</router-link>
                    </p>
                </div>
            </div>
        </div>
        <Footer />
    </div>
</template>

<script>
import Loader from "../components/Loader";
import Toast from "../components/Toast";
import Header from "../components/Header";

export default {
    name: "LandingPage",
    components: {
        Toast,
        Loader,
        Header,
    },
    data() {
        return {
        };
    },
    mounted() {},
    methods: {
    },
};
</script>

<style scoped>
.right-border{
    border-right: solid 1px #ccc;
}
</style>