<template>
  <div>
    <Header />
    <Toast />

    <div class="row px-5">
      <div class="col-md-6 col-sm-12 p-2 right-border">
        <Loader />
        <img src="/uploads/bookingsystem.jpg" />
      </div>
      <div class="col-md-6 col-sm-12 p-5">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        <label for="inputEmail">Email</label>
        <input
          type="email"
          v-model="email"
          id="inputEmail"
          class="form-control mb-3"
          autocomplete="email"
          required
          autofocus
        />
        <label for="inputPassword">Password</label>
        <input
          type="password"
          v-model="password"
          id="inputPassword"
          class="form-control"
          autocomplete="current-password"
          required
        />

        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary mt-3" @click="login">Sign in</button>
          </div>
          <div class="col-md-9 mt-4">
            No account?
            <router-link to="/sign-up"> <b>Signup</b> </router-link> here
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Loader from "../components/Loader";
import Toast from "../components/Toast";
import Header from "../components/Header";
import axios from "axios";

export default {
    name: "Login",
    components: {
        Toast,
        Loader,
        Header,
    },
    data() {
        return {
            email: "",
            password: "",
        };
    },
    mounted() {},
    methods: {
        login() {
            if (this.email.trim().length > 0 && this.password.trim().length > 0) {
                this.show_loader();
                axios.defaults.headers.common['Content-Type'] = 'application/json';
                axios.post("/api/login", {
                    username: this.email,
                    password: this.password,
                })
                .then((response) => {
                    this.hide_loader();
                    if(response.data.result == 'success'){
                        localStorage.setItem("BS.logged_in_user", JSON.stringify(response.data.user));
                        this.$router.push('/my-reservations');
                    }else{
                        this.show_toast('error', response.data.message);
                    }
                });
            }else{
                this.show_toast('error', 'Email and password must be entered');
            }
        },
    },
};
</script>

<style scoped>
.right-border{
    border-right: solid 1px #ccc;
}
</style>