<template>
  <div>
    <Navigation />
    <Toast />
    <Loader />
    <ReservationForm />
  </div>
</template>

<script>
import Loader from "../components/Loader";
import Toast from "../components/Toast";
import Navigation from "../components/Navigation";
import ReservationForm from "../components/ReservationForm";

import axios from "axios";

export default {
  name: "NewReservation",
  components: {
    Loader,
    Toast,
    Navigation,
    ReservationForm,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
