<template>
  <div>
    <Navigation />
  </div>
</template>

<script>
import Loader from "../components/Loader";
import Toast from "../components/Toast";
import Header from "../components/Header";
import Navigation from "../components/Navigation";

import axios from "axios";

export default {
  name: "Profile",
  components: {
    Loader,
    Toast,
    Header,
    Navigation,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
