<template>
  <div>
    <Header />
    <Toast />

    <div class="row px-5">
      <div class="col-md-6 col-sm-12 p-2" style="border-right: solid 1px #ccc">
        <Loader />
        <img src="/uploads/bookingsystem.jpg" />

      </div>
      <div class="col-md-6 col-sm-12 p-5">

        <h1 class="h3 mb-3 font-weight-normal">User Signup Area</h1>
        <label for="inputEmail">Name</label>
        <input
          type="name"
          v-model="name"
          id="inputName"
          class="form-control mb-3"
          autocomplete="name"
          required
          autofocus
        />
        <label for="inputEmail">Email</label>
        <input
          type="email"
          v-model="email"
          id="inputEmail"
          class="form-control mb-3"
          autocomplete="email"
          required
        />
        <label for="inputPassword">Password</label>
        <input
          type="password"
          v-model="password"
          id="inputPassword"
          class="form-control mb-3"
          autocomplete="current-password"
          required
        />
        <label for="inputConfirmPassword">Confirm Password</label>
        <input
          type="password"
          v-model="confirm_password"
          id="inputConfirmPassword"
          class="form-control"
          required
        />

        <button class="btn btn-primary mt-3" @click="signup">Signup</button>

         OR <router-link to="/login">Login</router-link>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Loader from "../components/Loader";
import Toast from "../components/Toast";
import Header from "../components/Header";
import axios from "axios";

export default {
    name: "Signup",
    components: {
        Loader,
        Toast,
        Header,
    },

  data() {
    return {
      name: "",
      email: "",
      password: "",
      confirm_password: "",
    };
  },
  mounted() {},
  methods: {
    signup() {
        if (this.email.trim().length > 0 && this.password.trim().length > 0) {
            if(this.password.trim() == this.confirm_password.trim()){
                axios
                    .post("/api/sign-up", {
                        name: this.name,
                        email: this.email,
                        password: this.password,
                    })
                    .then((response) => {
                        console.log(response);
                    });
            }else{
                this.show_toast('error', 'Password and confirm password mismatched! Plese fix');
            }
        }else{
            this.show_toast('error', 'Please fill-up the form properly');
        }
    },
  },
};
</script>
